@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse-two {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem /* 160px */));
  }
}
.slider {
  height: 100%;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slide-track {
  width: calc(160px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 160px;
  height: 30px;
  display: grid;
  place-items: center;
}

.button {
  align-content: center;
  align-items: center;
  background-color: var(--token-4fd39468-7501-4d57-902f-6dc7c98a80a1, #f7f7f7);
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 6px;
  height: auto;
  justify-content: center;
  overflow: hidden;
  padding: 16px 30px;
  position: relative;
  width: 180px;
  will-change: var(--framer-will-change-override, transform);
}
